#container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
#searchPanel {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 5px;
}
