body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.center {
  text-align: center;
}
.filterInput {
  width: 196px;
}
#container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
#searchPanel {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 5px;
  max-height: 500px;
}
.marker {
  background-color: rgba(255,255,255,0.7);
  width: 250px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
